
<div [hidden]="submitted" style="width:400px;">
  <h3>rechercher un employé</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nom">Nom</label>
      <input type="text" class="form-control"
             id="nom" required [(ngModel)]="name" name="nom">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
<div [hidden] = "!submitted">
  <div class="panel panel-primary" *ngIf="employs">
    <div class="panel-heading">
      <h3>Liste des employés qui portent le nom {{name}}</h3>
    </div>
    <div class="panel-body">
      <table class="table bg-lighttable-hover">
        <thead>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let employee of employs._embedded.employes">
          <td>{{employee.nom}}</td>
          <td>{{employee.prenom}}</td>
          <td>{{employee.mail}}</td>

        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>


