
<div [hidden]="submitted" style="width:400px;">
  <h3>Ajouter un employé</h3>
<form (ngSubmit)="onSubmit()">
<div class="form-group">
<label for="nom">Nom</label>
<input type="text" class="form-control"
id="nom" required [(ngModel)]="employee.nom" name="nom">
</div>
<div class="form-group">
<label for="prenom">Prénom</label>
<input type="text" class="form-control"
id="prenom" required [(ngModel)]="employee.prenom" name="prenom">
</div>
<div class="form-group">
<label for="adressMail">AdresseeMail</label>
<input type="text" class="form-control"
id="adressMail" required [(ngModel)]="employee.mail" name="adressMail">
</div>
<button type="submit" class="btn btn-success">Submit</button>

  &nbsp;  &nbsp;

  <button type=button (click)="retour()" class="btn btn-success">Retour a la liste</button>
</form>
</div>
<div [hidden] = "!submitted">
<h4 class="alert-dismissible">You submitted successfully!</h4>
</div>
